.container {
  background-color: green;
}

.row {
  background-color: yellow;
}

Header {
  background-color: beige;
}

#sidebar {
  background-color: darkblue;
  color: white;
}

#main {
  background-color: lightblue;
}

Footer {
  background-color: teal;
}

