@media screen and (max-width: 768px) {}
@media screen and (min-width: 768px) {
  #editor {
    background-color: pink;
    width: 75vw;
    height: 20vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    textarea {
      resize: none;
      width: 74vw;
      height: 18vh;
      border: 0.1rem solid lightgray;
      border-radius: 0.3rem;
      padding: 2rem;
      font-size: 2.6rem;
      overflow-y: auto;
    }
    .clear-button {
      position: absolute;
      bottom: 2vh;
      right: 10vw;
      width: 8vw;
      height: 6vh;
      font-size: 3rem;
      font-weight: bold;
    }
    .reply-button {
      position: absolute;
      bottom: 2vh;
      right: 1vw;
      width: 8vw;
      height: 6vh;
      font-size: 3rem;
      font-weight: bold;
    }
  }
}