@media screen and (max-width: 768px) {}
@media screen and (min-width: 768px) {
  #editor {
    background-color: pink;
    width: 75vw;
    height: 20vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    textarea {
      resize: none;
      width: 74vw;
      height: 18vh;
      border-radius: 0.3rem;
    }
  }
}